<h1>Listing contact_people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_people.each do |contact_person| %>
  <tr>
    <td><%= contact_person.first_name %></td>
    <td><%= contact_person.last_name %></td>
    <td><%= contact_person.email %></td>
    <td><%= contact_person.phone %></td>
    <td><%= contact_person.company_id %></td>
    <td><%= link_to 'Show', contact_person %></td>
    <td><%= link_to 'Edit', edit_contact_person_path(contact_person) %></td>
    <td><%= link_to 'Destroy', contact_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact person', new_contact_person_path %>
