<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact_person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact_person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact_person.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact_person.phone %>
</p>

<p>
  <b>Company:</b>
  <%= @contact_person.company_id %>
</p>


<%= link_to 'Edit', edit_contact_person_path(@contact_person) %> |
<%= link_to 'Back', contact_people_path %>
