<div class="container">
<div class="display_none"><%= gmaps4rails(@pins) %> </div>
<%= yield :scripts %>
</div>

<div class="row">
	<div class="span12">
	<%= form_tag sessions_path do %>
		<div id="login-box" class="field">
	    	<div id="login-element">
	    		<h3><p>Please Sign In</p></h3>
	    	</div>

			<div class="row">
			    	<div class="span6 login_center">
			     		<p id="font_session">E-mail: 
			     	<!--</div> 
			     			<div class="span4">-->
			     			<%= text_field_tag :email, params[:email] %></p>
			     	</div>
			     	
			     	<div class="span6 login_center">
			     		<p id="font_session">Password:
			     	<!--</div>
				     		<div class="span4">-->
				     		<%= password_field_tag :password %>
				   	 		<%= submit_tag "Log In", class: "btn btn-success" %> </p>
					</div>
		   	</div>

	<!--	<h3><p>Or Sign Up</p></h3>

		<div style="margin-left:30%;">
			<div class="row">
			    	<div class="span6">
			     		<p id="font_session">E-mail: 
			     		<%= text_field_tag :email, params[:email] %></p>
			     		<p id="font_session">Password: 
			     		<%= text_field_tag :password, params[:password] %></p>
			     		<p id="font_session">Password(Confirmation): 
			     		<%= text_field_tag :password_confirmation, params[:password_confirmation] %></p>
			     		<p id="font_session">Last name: 
			     		<%= text_field_tag :last_name, params[:last_name] %></p>
			     		<p id="font_session">First name: 
			     		<%= text_field_tag :first_name, params[:first_name] %></p>
			     		<%= submit_tag "Sign Up", class: "btn btn-success" %> </p>
			     	</div>

		   	</div>
		</div> -->

		<div class="sign_up"><font color="#fff">Or </font><%= link_to "Sign Up", signup_path %></div>

		</div>

	</div>
</div>
<% end %>