<h1>Please Sign In</h1>
<%= form_tag sessions_path do %>
    <div id="login-element" class="span6" class="field" class="login">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div id="login-element" class="span6" class="field" class="login">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div id="login-element" class="span6" class="actions" class="login"><%= submit_tag "Log In" %></div>
<% end %>
