<title><%= t "financing.title" %></title>
<h1><%= t "financing.title" %></h1></br>
<p>
<p><%= t "financing.text1.html" %></p></br>
<h3><%= t "financing.title2" %></h3><h4><%= t "financing.text2.html" %></h4>
<a href="http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/"> http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/ </a> <br><br>
<h3><%= t "financing.title3" %></h3>
<a href="http://www.auslandsbafoeg.de/"> http://www.auslandsbafoeg.de/ </a> <br>
<%= t "financing.text3.html" %>
