<title><%= t "financing.title" %></title>
<div style= "margin-left: 8%; margin-right: 10%">
<h1><%= t "financing.title" %></h1></br>

<p><%= t "financing.text1.html" %>
<a href="http://www.htw-berlin.de/auslandspraktika/"target="_blank"><%= t "financing.text4" %> </a> <br><br></p></br>
<%= t "financing.text5.html" %>
<p><%= t "financing.text6" %></p></br>



<table class="table">
  <tr class="table_fin">
    <div id="table_topi"></div>
    <th><b><%= t "financing.progs.title1" %></b></th>
    <th><b><%= t "financing.progs.title2" %></b></th>
    <th><b><%= t "financing.progs.title3" %></b></th>
    <th><b><%= t "financing.progs.title4" %></b></th>
 
    
<!--     <th></th>
 -->  </tr>


  <tr>
    <td class="table_inside"><a href="http://www.auslandsbafoeg.de/" target="_blank"> <%= t "financing.prog1.namen" %></a></td>
    <td class="table_inside"><%= t "financing.prog1.fact" %></td>
    <td class="table_inside"><%= t "financing.prog1.duration" %></td>
    <td class="table_inside"><%= t "financing.prog1.region" %></td>
  </tr>
  <tr>
    <td class="table_inside"><a href="http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/" target="_blank"> <%= t "financing.prog2.namen" %>  </a></td>
    <td class="table_inside"><%= t "financing.prog2.fact" %></td>
    <td class="table_inside"><%= t "financing.prog2.duration" %></td>
    <td class="table_inside"><%= t "financing.prog2.region" %></td>
  </tr>
  <tr>
    <td class="table_inside"><a href="http://www.htw-berlin.de/internationales/auslandspraktika-finanzieren/daad/promos/" target="_blank"> <%= t "financing.prog3.namen" %></a></td>
    <td class="table_inside"><%= t "financing.prog3.fact" %></td>
    <td class="table_inside"><%= t "financing.prog3.duration" %></td>
    <td class="table_inside"><%= t "financing.prog3.region" %></td>
  </tr>
  <tr>
    <td class="table_inside"><a href="http://www.htw-berlin.de/internationales/auslandspraktika-finanzieren/daad/csp/" target="_blank"> <%= t "financing.prog4.namen" %></a></td>
    <td class="table_inside"><%= t "financing.prog4.fact" %></td>
    <td class="table_inside"><%= t "financing.prog4.duration" %></td>
    <td class="table_inside"><%= t "financing.prog4.region" %></td>
  </tr>
</table>
<p><%= t "financing.text2" %> <a href="http://www.htw-berlin.de/internationales/auslandspraktika/foerderprogramme/" target="_blank"><%= t "financing.text5.html" %> </a> <br><br></p></div>