<h1><%= t "search.title" %></h1>

<%= form_tag(internships_path, :method => 'get') do %>
  <p>
    <p class="search_form"><%= t "internships.attributes.orientation" %><br /> </p>
    <%= text_field_tag :glowing_border, params[:orientation] %>

    <p class="search_form"><%= ((t "internships.attributes.salary")+" >=") %><br /> </p>
    <%= text_field_tag :glowing_border, params[:salary] %>

    <p class="search_form"><%= ((t "internships.attributes.working_hours")+" <=") %><br /> </p>
    <%= text_field_tag :glowing_border, params[:working_hours] %>

    <p class="search_form"><%= ((t "internships.attributes.living_costs")+" <=") %><br /> </p>
    <%= text_field_tag :glowing_border, params[:living_costs] %>

    <p class="search_form"><%= ((t "internships.attributes.rating")+" >=") %><br /> </p>
    <%= text_field_tag :glowing_border, params[:rating] %>

    <p class="search_form"><%= t "companies.attributes.country" %><br /> </p>
    <%= text_field_tag :glowing_border, params[:country] %>

    <p class="search_form"><%= t "internships.attributes.programming_language" %><br /> </p>
    <%= select_tag :glowing_border, options_for_select(@programming_languages), { :multiple => true } %>
    <br/>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

