<div class="text_guide">
<title><%= t "financing.title" %></title>
<td style="padding-left:1000px">
 <h1>Downloads</h1>

</br>
<h4><b><%= t "download.form" %></b></h4>
</p>

<p>
<p><%= t "download.text1" %></p></h4></br>
<%= t "download.text2" %> (<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-B-en.pdf" target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-Bc.pdf" target="_blank"> <%= t "download.text5" %> </a>)<br>
<%= t "download.text3" %>  (<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf "target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B.pdf" target="_blank" > <%= t "download.text5" %> </a>)<br>
<%= t "download.text4" %>  (<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_engl1.pdf" target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_deutsch.pdf" target="_blank" ><%= t "download.text5" %> </a>) <br>
<%= t "download.text6" %>  (<a href="http://www.students-htw.de/images/Inhalt/Dateien/110707formularinfoblatt%20befreiung%20v23.pdf" target="_blank"> <%= t "download.text5" %> </a>) <br></p>
</td>
</div>