<title><%= t "general.title" %></title>
 <p id="p1"><h1><%= t "general.title" %></h1></br>
<%= t "general.text1.html" %>(<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_engl1.pdf" target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_deutsch.pdf" target="_blank" ><%= t "download.text5" %> </a>) <br><%= t "general.text2.html" %> (<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-B-en.pdf" target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-Bc.pdf" target="_blank"> <%= t "download.text5" %> </a>)</br>
	<%= t "general.text8.html" %>
	<%= t "general.text3.html" %>

<ul>
<li><%= t "general.text4" %></li>
<li><%= t "general.text5" %></li>
<li><%= t "general.text6" %></li>
</ul>
<%= t "general.text7.html" %>(<a href="http://www.students-htw.de/images/Inhalt/Dateien/110707formularinfoblatt%20befreiung%20v23.pdf" target="_blank"> <%= t "download.text5" %> </a>)
	
<%= t "general.text9.html" %>

<%= t "download.text3" %>  (<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf "target="_blank"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B.pdf" target="_blank" > <%= t "download.text5" %> </a>)<br><br>

</p>