<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">
<div class="span5">
  <h2> Student Data </h2>
  <div class="field" style="line-height:1px; margin-bottom:15px; margin-top:20px;">
    <%= f.label t "students.attributes.first_name"  %><br />
    <%= f.text_field :first_name, :readonly => @user.editable? %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "students.attributes.last_name"  %><br />
    <%= f.text_field :last_name, :readonly => @user.editable? %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "students.attributes.enrolment_number" %>
    <%= f.text_field :enrolment_number, :readonly => @user.editable? %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "students.attributes.email" %>
    <%= f.text_field :student_email, :readonly => @user.editable? %>
  </div>
</div>

<div class="span5 offset2">
  <h2> User Data </h2>
  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.email" %><br />
    <%= f.text_field :email, class: "textlabel" %>
  </div>

    <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.publicmail"  %>
    <%= f.check_box :publicmail %>
  </div>  

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.password_confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
    <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.mailnotif"  %>
    <%= f.check_box :mailnotif %>
  </div> 
  <div class="actions" style="float: right">
    <%= f.submit t(params[:action] == 'new' ? 'users.create' : 'users.update'), class: "btn btn-success" %>
  </div>
</div>
</div>
<% end %>
