<%= form_for(@user_creation_form, url: users_path, method: :post) do |f| %>
<% if @user_creation_form.errors.any? %>
<div id="error_explanation">
  <h2 style="font-size:20px; color: #ff0000 !important;"><%= pluralize(@user_creation_form.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user_creation_form.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div id="form-block3">

 <% if @user_creation_form.student_exists? %>
 <p style="color:#b2c880 !important">
  <%= t "users.title1" %>
  </p>
<% else %>
 <p style="color:#b2c880 !important">
  <%= t "users.title2" %>
 </p>
<% end %>

<div class="row">

  <div class="span5">
           <h2 style="color:#80b900 !important"> Student Data </h2>
 <div class="field" id="field-titles">
        <%= f.label t "students.attributes.first_name1" %><br />
        <%= f.text_field :first_name, :readonly => @user_creation_form.student_exists? %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "students.attributes.last_name1"  %><br />
        <%= f.text_field :last_name, :readonly => @user_creation_form.student_exists? %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "students.attributes.birthday1" %>
        <%= f.date_field :birthday, :readonly => @user_creation_form.student_exists? %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "students.attributes.birthplace1" %>
        <%= f.text_field :birthplace, :readonly => @user_creation_form.student_exists? %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "students.attributes.enrolment_number1" %>
        <%= f.text_field :enrolment_number, :readonly => @user_creation_form.student_exists? %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "students.attributes.email1" %>
        <%= f.text_field :student_email, :readonly => @user_creation_form.student_exists? %>
      </div>
  </div>


  <div class="span3">
      <h2 style="color:#80b900 !important"> User Data </h2>

      <div class="field" id="field-titles">
        <%= f.label t "users.attributes.email1" %><br />
        <%= f.text_field :email, class: "textlabel" %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "users.attributes.publicmail"  %>
        <%= f.check_box :publicmail %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "users.attributes.password1" %><br />
        <%= f.password_field :password %>
      </div>

      <div class="field" id="field-titles">
        <%= f.label t "users.attributes.password_confirmation1" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="field" id="field-titles">
        <%= f.label t "users.attributes.mailnotif1"  %>
        <%= f.check_box :mailnotif %>
      </div> 

  </div>
</div>
<div class="row">
  <div class="span1 offset7"> 
   <div class="actions" style="float: right; margin-right: 46px; margin-top: 20px;">
    <%= f.submit t(params[:action] == 'new' ? 'users.create' : 'users.update'), class: "btn btn-success" %>
  </div>

</div>
</div>
</div>

<% end %>
