<%= form_for(@user, url: users_path, method: :post) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-block">
<div style="float: left;">
  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.email" %><br />
    <%= f.text_field :email, class: "textlabel" %>
  </div>

    <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.publicmail"  %>
    <%= f.check_box :publicmail %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.password_confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
</div>
<div style="float: right" style="line-height:1px;">
    <div class="field" style="line-height:1px; margin-bottom:15px;">
    <%= f.label t "users.attributes.mailnotif"  %>
    <%= f.check_box :mailnotif %>
  </div>
  <div class="actions" style="float: right">
    <%= f.submit t(params[:action] == 'new' ? 'users.create' : 'users.update'), class: "btn btn-success" %>
  </div>
</div>
</div>
<% end %>
