<h1><%= t ".title" %></h1>

<table class="table">
  <tr>
    <th><%= t "users.attributes.last_name" %></th>
    <th><%= t "users.attributes.first_name" %></th>
    <th><%= t "users.attributes.major" %></th>
    <th><%= t "users.attributes.email" %></th>
    <th><%= t "users.attributes.role" %></th>
    <th><%= t "users.attributes.picture" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.last_name %></td>
    <td><%= user.first_name %></td>
    <td><%= user.major %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= image_tag(user.picture_url, :width => 200) if user.picture.present? %></td>
    <td><%= link_to (t "buttons.show"), user, class: "btn btn-success pull-right" %></td>
    <td><%= link_to (t "buttons.edit"), edit_user_path(user), class: "btn btn-success pull-right" %></td>
    <td><%= link_to (t "buttons.destroy"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t "buttons.newuser"), new_user_path,  class: "btn btn-success" %>
