<p id="notice"><%= notice %></p>

<p>
  <b><%= t "users.attributes.last_name" %> :</b>
  <%= @user.name %>
</p>

<p>
  <b><%= t "users.attributes.first_name" %> :</b>
  <%= @user.name %>
</p>

<p>
  <b><%= t "users.attributes.email" %> :</b>
  <%= @user.email %>
</p>
<p>
  <b><%= t "users.attributes.publicmail" %> :</b>
  <%= @user.publicmail %>
</p>
<p>
  <b><%= t "users.attributes.mailnotif" %> :</b>
  <%= @user.mailnotif %>
</p>

<%= link_to (t "buttons.change_details"), edit_user_path(@user), class: "btn btn-success" %>
<%= link_to (t "buttons.back"), overview_index_path, class: "btn" %>

<h3> Comments </h3>
<% @user.user_comments.each do |comment| %>
<p> Commented "
<%= comment.body %>
" at
<%= link_to "#{comment.internship.title} at #{comment.internship.company.name}", comment.internship, class: "btn btn-success" %>
</p>
<%end%>



<br/>

