<p id="notice"><%= notice %></p>

<p>
  <b><%= User.human_attribute_name(:last_name) %> :</b>
  <%= @user.last_name %>
</p>

<p>
  <b><%= User.human_attribute_name(:first_name) %> :</b>
  <%= @user.first_name %>
</p>

<p>
  <b><%= User.human_attribute_name(:major) %> :</b>
  <%= @user.major %>
</p>

<p>
  <b><%= User.human_attribute_name(:email) %> :</b>
  <%= @user.email %>
</p>

<p>
  <b><%= User.human_attribute_name(:role) %> :</b>
  <%= @user.role %>
</p>


<p>
  <b><%= User.human_attribute_name(:picture) %> :</b>
  <%= image_tag(@user.picture_url, :width => 600) if @user.picture.present? %>
</p>


<%= link_to (t "buttons.edit"), edit_user_path(@user), class: "btn btn-success" %>
<%= link_to (t "buttons.back"), users_path, class: "btn" %>
