<p id="notice"><%= notice %></p>

<p>
  <b><%= t "users.attributes.picture" %> :</b>
  <%= image_tag(@user.picture_url, :width => 600) if @user.picture.present? %>
</p>

<p>
  <b><%= t "users.attributes.last_name" %> :</b>
  <%= @user.last_name %>
</p>

<p>
  <b><%= t "users.attributes.first_name" %> :</b>
  <%= @user.first_name %>
</p>

<p>
  <b><%= t "users.attributes.major" %> :</b>
  <%= @user.major %>
</p>

<p>
  <b><%= t "users.attributes.email" %> :</b>
  <%= @user.email %>
</p>

<%= link_to (t "buttons.change_details"), edit_user_path(@user), class: "btn btn-success" %>
<%= link_to (t "buttons.back"), overview_index_path, class: "btn" %>

<h2> Comments </h2>
<% @user.user_comments.each do |comment| %>
<p> Commented "
<%= comment.body %>
" at
<%= link_to "#{comment.internship.title} at #{comment.internship.company.name}", comment.internship, class: "btn btn-success" %>
</p>
<%end%>

<br/>

