<%= form_tag({:controller => "user_verifications", :action => "create"}, :method => :post) do %> 
  <%- flash.each do |name, message| %>
    <p><i><%= "#{name}: #{message}" %></i></p>
  <% end %>
  <%= label_tag "Username (e.g. s05xxxxx)" %>
  <%= text_field_tag :user_name %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Verify", :id => "verify", :class => "btn btn-success" %>
<% end %> 
