<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t "companies.attributes.name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.street" %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.zip" %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.city" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.country" %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.number_employees" %><br />
    <%= f.number_field :number_employees %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.industry" %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.main_language" %><br />
    <%= f.text_field :main_language %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.website" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit t(params[:action] == 'new' ? 'companies.create' : 'companies.update'), class: "btn btn-success" %>
  </div>
<% end %>
