<h1>Listing companies</h1>

<%# gmaps4rails(@pins) %> 
<%= yield :scripts %>
<br/> 

<table class="table">
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>ZIP</th>
    <th>City</th>
    <th>Country</th>
    <th>Number employees</th>
    <th>Industry</th>
    <th>Main Language</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.street %></td>
    <td><%= company.zip %></td>
    <td><%= company.city %></td>
    <td><%= company.country %></td>
    <td><%= company.number_employees %></td>
    <td><%= company.industry %></td>
    <td><%= company.main_language %></td>
    <td><%= company.website %></td>
    <td><%= link_to 'Show', company, class: "btn btn-success pull-right" %></td>
    <td><%= link_to 'Edit', edit_company_path(company), class: "btn btn-success pull-right" %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path,  class: "btn btn-success"  %>
