<h1><%= t ".title" %></h1>

<%= gmaps4rails(@pins) %> 
<%= yield :scripts %>
<br/> 

<table class="table">
  <tr>
    <th><%= Company.human_attribute_name(:name) %></th>
    <th><%= Company.human_attribute_name(:street) %></th>
    <th><%= Company.human_attribute_name(:zip) %> </th>
    <th><%= Company.human_attribute_name(:city) %></th>
    <th><%= Company.human_attribute_name(:country) %></th>
    <th><%= Company.human_attribute_name(:number_employees) %></th>
    <th><%= Company.human_attribute_name(:industry) %></th>
    <th><%= Company.human_attribute_name(:main_language) %></th>
    <th><%= Company.human_attribute_name(:website) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.street %></td>
    <td><%= company.zip %></td>
    <td><%= company.city %></td>
    <td><%= company.country %></td>
    <td><%= company.number_employees %></td>
    <td><%= company.industry %></td>
    <td><%= company.main_language %></td>
    <td><%= company.website %></td>
    <td><%= link_to (t "buttons.show"), company, class: "btn btn-success pull-right" %></td>
    <td><%= link_to (t "buttons.edit"), edit_company_path(company), class: "btn btn-success pull-right" %></td>
    <td><%= link_to (t "buttons.destroy"), company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path,  class: "btn btn-success"  %>
