<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= "#{@company.street}, #{@company.zip} #{@company.city}, #{@company.country}" %>
</p>


<p>
  <b>Number employees:</b>
  <%= @company.number_employees %>
</p>

<p>
  <b>Industry:</b>
  <%= @company.industry %>
</p>
<p>

<b>Main Language:</b>
  <%= @company.main_language %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>


<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-success" %>
<%= link_to 'Back', companies_path, class: "btn"  %>
