<p id="notice"><%= notice %></p>

<p>
  <b><%= t "companies.attributes.name"  %> :</b>
  <%= @company.name %>
</p>

<p>
  <b><%= t "companies.attributes.address"  %>:</b>
  <%= "#{@company.street}, #{@company.zip} #{@company.city}, #{@company.country}" %>
</p>


<p>
  <b><%= t "companies.attributes.number_employees"  %> :</b>
  <%= @company.number_employees %>
</p>

<p>
  <b><%= t "companies.attributes.industry"  %> :</b>
  <%= @company.industry %>
</p>
<p>

<b><%= t "companies.attributes.main_language"  %> :</b>
  <%= @company.main_language %>
</p>

<p>
  <b><%= t "companies.attributes.website"  %> :</b>
  <%= @company.website %>
</p>

<p>
  <b><%= t "companies.internships.recommend"  %> :</b>
 <% recommended, not_recommended = @company.internships.partition { |internship| internship.recommend == true } %>

 <%= "#{t('companies.attributes.recommended')} #{recommended.size}" %>
 <%= "#{t('companies.attributes.not_recommended')} #{not_recommended.size}" %>
</p>



<%= link_to t("buttons.edit"), edit_company_path(@company), class: "btn btn-success" %>
<%= link_to t("buttons.back"), companies_path, class: "btn"   %>
