<div class="row">
<div class="span6">
<%= nested_form_for(@internship) do |f| %>
  <% if @internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% @internship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label t "internships.attributes.title" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.company" %>
    <%= f.select :company_id, Company.order(:name).map { |c| [c.name, c.id] },{}, class: 'chzn-select'  %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.orientation" %><br />
    <%= f.select :orientation_id, @orientations,{}, class: 'chzn-select' %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.programming_language"  %><br />
    <%= f.select :programming_language_ids, @programming_languages, {}, { :multiple => true, class: 'chzn-select'} %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.salary"  %><br />
    <%= f.select :salary_id, @salaries,{}, class: 'chzn-select' %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.working_hours"  %><br />
    <%= f.text_field :working_hours %>
  </div>
  <div class="field">
    <%= f.label t "internships.attributes.living_costs"  %><br />
    <%= f.text_field :living_costs %>
  </div>

  <div class="field">
    <%= f.label t "internships.attributes.semester"  %><br />
      <%= f.select :semester_id, get_semesters, {}, class: 'chzn-select' %>
  </div>

  <div class="field">
    <%= f.label t "internships.attributes.description"  %><br />
    <%= f.text_area :description %>
  </div>

   <%= f.fields_for :attachments do |attachment_form|  %>
    <p>
    <%= attachment_form.label :description %><br />
    <%= attachment_form.text_field :description %>
    </p>
    <p>
    <%= attachment_form.label :file %><br />
    <%= attachment_form.file_field :file %>
    </p>
    <%= attachment_form.link_to_remove "Remove this attachment" %>
  <% end %>
  <%= f.link_to_add "Add attachment", :attachments %>
  <hr/>
  <br />
  <br />
    <div class="field">
    <%= f.label t "internships.attributes.internship_report"  %>
    <%= f.file_field :internship_report %>
    </div>  
  <br />

  <div class="field">
    <%= f.label t "internships.attributes.rating" %><br />
    <div id="edit-rating"><%= render_stars(1, self) %></div>
    <%= f.hidden_field :rating %>
  </div>  
  <br />
  <br />
  <div class="field">
    <%= f.label t "internships.attributes.recommend"  %>
    <%= f.check_box :recommend %>
  </div>  
  <br />
  <div class="field">
    <%= f.label t "internships.attributes.email_public"  %>
    <%= f.check_box :email_public %>
  </div>  
  <br />
  <div class="actions">    
    <%= f.submit t(params[:action] == 'new' ? 'internships.create' : 'internships.update'), class: "btn btn-success" %>
  </div>
<% end %>
</div>
<div class="span6">
<%= form_for(@company) do |f| %>
  <div class="field">
    <%= f.label t "companies.attributes.name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.street" %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.zip" %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.city" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.country" %><br />
    <%= f.country_select :country, ["United States"],{}, class: 'chzn-select' %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.number_employees" %><br />
    <%= f.number_field :number_employees %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.industry" %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.main_language" %><br />
    <%= f.text_field :main_language %>
  </div>
  <div class="field">
    <%= f.label t "companies.attributes.website" %><br />
    <%= f.text_field :website %>
  </div>
<%end%>
</div>
</div>