<h2 style="margin-bottom:35px;"><%= t "search.title" %></h2>
<%= form_tag(internships_path, :method => 'get', class: 'form2') do %>
<div class="row-fluid">
<div class="span4">
<%= select_tag :country, options_for_select((@countries).uniq), { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.country"), style: "width:100%"} %>
</div>
<div class="span4">
<%= select_tag :semester, options_for_select(@semesters),  { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.semester"), style: "width:100%"}  %>
</div>
<div class="span4" style="margin-top:-6px">
        <span><%= t "search.salary" %></span>
        <span id="salary_span"></span>
        <input name="salary[]" type="text" id="salary" style="border: 0; color: #f6931f; font-weight: bold; display:none" readonly />
        <div id="salary_slider">
        </div>
    </div>
    </div>
<br/>
<div class="row-fluid">   
<div class="span4">
<%= select_tag :orientation, options_for_select(@orientations),  { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.orientation"), style: "width:100%"}  %>
</div>
<div class="span4">
<%= select_tag :programming_language_ids, options_for_select(@programming_languages), { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.language"), style: "width:100%"}  %>
</div>

<div class="span4" style="margin-top:-6px">
        <span><%= t "search.livingCost"%></span>
        <span id="living_costs_span"></span>
        <input name="living_costs[]" type="text" id="living_costs" style="border: 0; color: #f6931f; font-weight: bold; display:none" readonly />
        <div id="living_costs_slider">
        </div>
    </div>
</div>
<br/>

<%= submit_tag t("search.button"), :name => nil, :class => "btn btn-success", :id => "search_button" %>
<%= link_to t("helpers.reset"), internships_path, :class => "btn btn-success", :id => "search_button" %>

<% end %>

<script> 
        $( "#salary_slider" ).slider({
            min: 0,
            max: <%= @salary_max %>,
            value: <%= raw @salary %>,
            slide: function( event, ui ) {
                $( "#salary" ).val( ui.value );
                $( "#salary_span" )[0].innerHTML = ( ui.value+" €" );
            }

        });
        
        $( "#salary" ).val( $( "#salary_slider" ).slider( "value" ) );
        $( "#salary_span")[0].innerHTML = ( $( "#salary_slider" ).slider( "value" ) + " €")

         $( "#living_costs_slider" ).slider({
            min: 1,
            max: <%= @living_costs_max %>,
            value: <%= raw @living_costs %>,
            slide: function( event, ui ) {
                $( "#living_costs" ).val( ui.value );
                $( "#living_costs_span" )[0].innerHTML = ( ui.value+" €" );
            }
        });

        $( "#living_costs" ).val( $( "#living_costs_slider" ).slider( "value" ) );
        $( "#living_costs_span")[0].innerHTML = ( $( "#living_costs_slider" ).slider( "value" ) + " €")

        <% if @country_choices %>

        var country_choices = <%= raw @country_choices %>

        for (var i=0; i < country_choices.length; i++) {
          var ary = [];
          if ($("#country").val()!=null)
          ary = $("#country").val();
          ary.push(country_choices[i]);
          $("#country").val(ary);
        }
        $("#country").trigger("liszt:updated");

        <% end %>

        <% if @semester_choices %>

        var semester_choices = <%= raw @semester_choices %>

        for (var i=0; i < semester_choices.length; i++) {
          var ary = [];
          if ($("#semester").val()!=null)
          ary = $("#semester").val();
          ary.push(semester_choices[i]);
          $("#semester").val(ary);
        }
        $("#semester").trigger("liszt:updated");

        <% end %>

        <% if @orientation_choices %>

        var orientation_choices = <%= raw @orientation_choices %>

        for (var i=0; i < orientation_choices.length; i++) {
          var ary = [];
          if ($("#orientation").val()!=null)
          ary = $("#orientation").val();
          ary.push(orientation_choices[i]);
          $("#orientation").val(ary);
        }
        $("#orientation").trigger("liszt:updated");

        <% end %>

        <% if @language_choices %>

        var language_choices = <%= raw @language_choices %>

        for (var i=0; i < language_choices.length; i++) {
          var ary = [];
          if ($("#programming_language_ids").val()!=null)
          ary = $("#programming_language_ids").val();
          ary.push(language_choices[i]);
          $("#programming_language_ids").val(ary);
        }
        $("#programming_language_ids").trigger("liszt:updated");

        <% end %>


   </script> 

<h5> <%=@internships_size%> <%= t "search.resultnr"%> </h5>

<div class="table-container">
<table id="paginated" class="table tablesorter">
  <thead>
  <tr class="table_intern table_fin">
    <th class="company"><%= t "internships.attributes.company" %></th>
    <th data-sort="string" class="orientation"><%= t "internships.attributes.orientation" %></th>
    <th class="programming_language"><%= t "internships.attributes.programming_language" %></th>
    <th data-sort="float" class="salary"><%= t "internships.attributes.salary" %></th>
    <th data-sort="float" class="working_hours"><%= t "internships.attributes.working_hours" %></th>
    <th data-sort="float" class="living_costs"><%= t "internships.attributes.living_costs" %></th>
    <th class="rating"><%= t "internships.attributes.rating" %></th>
    <th class="user"><%= t "internships.attributes.user" %></th>
    <th class="recommend"><%= t "internships.attributes.recommend" %></th>
    <th class="top_inside"></th>
  </tr>
  </thead>

  <tbody>
<% @internships.each do |internship| %>
  <tr class="<%= cycle("even_row2", "odd_row2") %>">
    <td class="table_inside"><%= internship.company.name %></td>
    <td class="table_inside"><%= internship.orientation.name %></td>
    <td class="table_inside"><%= internship.programming_languages.map { |n| n.name }.join(", ") %></td>
    <td class="table_inside"><%= internship.salary %></td>
    <td class="table_inside"><%= internship.working_hours %></td>
    <td class="table_inside"><%= internship.living_costs %></td>
    <td class="table_inside"><%# render_stars(internship.rating, self) %></td>
    <td class="table_inside"><%= internship.try(:user).try(:name) %></td>
    <td class="table_inside">
      <% if internship.recommend %>
          <i class="icon-white icon-thumbs-up icon-2x" style="color:#80b900"></i>
        <% else %>
          <i class="icon-white icon-thumbs-down icon-2x" style="color:#333333"></i>
        <% end %>
    </td>
    <td class="table_inside"><%= link_to "", internship, class: "icon-white icon-eye-open icon-2x button_intern" %></td>
  </tr>
<% end %>
  </tbody>
</table>
<!--<div style="width: 100%; height:10px; background-color:#4f4f4f; position: inherit; margin-top:-20px;"></div>-->
</div>
<!---  
<% #if @internships_size > 5 %>
<div class='pager'>
    <a href='' alt='First' class='firstPage'>First</a>
    <a href='' alt='Previous' class='prevPage'>Prev</a>
        
    <span class='currentPage'></span> of <span class='totalPages'></span>
    <a href='' alt='Next' class='nextPage'>Next</a>
    <a href='' alt='Last' class='lastPage'>Last</a>
  </div>
<% #end %>
---->
<script>
$("#paginated").stupidtable();
/*
        $('table#paginated').each(function() {
          var currentPage = 1;
          var numPerPage = 5;
          var $table = $(this);
          var numRows = $table.find('tbody tr').length;
          var numPages = Math.ceil(numRows / numPerPage);
          $table.bind('repaginate', function() {
              $(".currentPage").html(currentPage);
              $(".totalPages").html(numPages);
              $table.find('tbody tr').css("display","none").slice((currentPage-1) * numPerPage, (currentPage) * numPerPage).css("display","table-row");
              if (currentPage == 1) {
                $(".firstPage").hide();
              }
              else 
                $(".firstPage").show();
              if (currentPage == numPages) {
                $(".lastPage").hide();
              }
              else 
                $(".lastPage").show();
          });
          $table.trigger('repaginate');
          

          $(".firstPage").click(function() {
            currentPage = 1;
            $table.trigger('repaginate');
          }); 

          $(".lastPage").click(function() {
            currentPage = numPages;
            $table.trigger('repaginate');
          }); 

          $(".prevPage").click(function() {
            if (currentPage-1>0)
              currentPage -= 1;
            $table.trigger('repaginate');
          });

          $(".nextPage").click(function() {
            if (currentPage<numPages)
              currentPage += 1;
            $table.trigger('repaginate');
          });

      });*/
</script>