<h1>Listing internships</h1>

<table>
  <tr>
    <th>Orientation</th>
    <th>Programming language</th>
    <th>Salary</th>
    <th>Working hours</th>
    <th>Living costs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @internships.each do |internship| %>
  <tr>
    <td><%= internship.orientation %></td>
    <td><%= internship.programming_language %></td>
    <td><%= internship.salary %></td>
    <td><%= internship.working_hours %></td>
    <td><%= internship.living_costs %></td>
    <td><%= link_to 'Show', internship %></td>
    <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
    <td><%= link_to 'Destroy', internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Internship', new_internship_path %>
