<h1><%= t ".title" %></h1>
<table class="table">
  <tr>
    <th><%= t "internships.attributes.company" %></th>
    <th><%= t "internships.attributes.orientation" %></th>
    <th><%= t "internships.attributes.programming_language" %></th>
    <th><%= t "internships.attributes.salary" %></th>
    <th><%= t "internships.attributes.working_hours" %></th>
    <th><%= t "internships.attributes.living_costs" %></th>
    <th><%= t "internships.attributes.rating" %></th>
    <th><%= t "internships.attributes.user" %></th>
    <th><%= t "internships.attributes.recommend" %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @internships.each do |internship| %>
  <tr>
    <td><%= internship.company.name %></td>
    <td><%= internship.orientation.name %></td>
    <td><%= internship.programming_languages.map { |n| n.name } %></td>
    <td><%= internship.salary.amount %></td>
    <td><%= internship.working_hours %></td>
    <td><%= internship.living_costs %></td>
    <td><%= render_stars(internship.rating, self) %>
    <td><%= internship.try(:user).try(:name) %></td>
    <td><%= internship.recommend %></td>
    <td><%= link_to (t "buttons.show"), internship %></td>
    <td><%= link_to (t "buttons.edit"), edit_internship_path(internship) %></td>
    <td><%= link_to (t "buttons.destroy"), internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if @current_user.internship_authorization %>
<%= link_to (t "buttons.newinternship"), new_internship_path %>
<% end %>
