<p id="notice"><%= notice %></p>

<p>
  <b><%= Internship.human_attribute_name(:orientation) %> :</b>
  <%= @internship.orientation %>
</p>

<p>
  <b><%= Internship.human_attribute_name(:programming_language) %> :</b>
  <%= @internship.programming_languages.map(&:name) %>
</p>

<p>
  <b><%= Internship.human_attribute_name(:salary) %> :</b>
  <%= @internship.salary %>
</p>

<p>
  <b><%= Internship.human_attribute_name(:working_hours) %> :</b>
  <%= @internship.working_hours %>
</p>

<p>
  <b><%= Internship.human_attribute_name(:living_costs) %> :</b>
  <%= @internship.living_costs %>
</p>


<%= link_to (t "buttons.edit"), edit_internship_path(@internship) %> |
<%= link_to (t "buttons.back"), internships_path %>
