<p id="notice"><%= notice %></p>

<p>
  <b><%= t "internships.attributes.company" %> :</b>
  <%= @internship.company.name %>
</p>
<p>
  <b><%= t "internships.attributes.orientation" %> :</b>
  <%= @internship.orientation %>
</p>

<p>
  <b><%= t "internships.attributes.programming_languages" %> :</b>
  <%= @internship.programming_languages.map(&:name) %>
</p>

<p>
  <b><%= t "internships.attributes.salary" %> :</b>
  <%= @internship.salary.amount %>
</p>

<p>
  <b><%= t "internships.attributes.working_hours" %> :</b>
  <%= @internship.working_hours %>
</p>

<p>
  <b><%= t "internships.attributes.living_costs" %> :</b>
  <%= @internship.living_costs %>
</p>

<p>
  <b><%= t "internship.attributes.rating" %></b>
  <%= render_stars(@internship.rating, self) %>
</p>

<p>
  <b>Pictures</b>
  <% @internship.attachments.each do |i| %>  
  <%= image_tag(i.file, :height => '100') %>
  <% end %>

<%= link_to (t "buttons.edit"), edit_internship_path(@internship) %> |
<%= link_to (t "buttons.back"), internships_path %>
