<p id="notice"><%= notice %></p>

<p>
  <b><%= t "internships.attributes.company" %> :</b>
  <%= @internship.company.name %>
</p>
<p>
  <b><%= t "internships.attributes.orientation" %> :</b>
  <%= @internship.orientation %>
</p>

<p>
  <b><%= t "internships.attributes.programming_languages" %> :</b>
  <%= @internship.programming_languages.map(&:name) %>
</p>

<p>
  <b><%= t "internships.attributes.salary" %> :</b>
  <%= @internship.salary.try(:amount) %>
</p>

<p>
  <b><%= t "internships.attributes.working_hours" %> :</b>
  <%= @internship.working_hours %>
</p>

<p>
  <b><%= t "internships.attributes.living_costs" %> :</b>
  <%= @internship.living_costs %>
</p>

<p>
  <b><%= t "internship.attributes.rating" %></b>
  <%= render_stars(@internship.rating, self) %>
</p>
<br/>
<p>
  <b><%= t "internships.attributes.user" %> :</b>
  <%= @internship.try(:user).try(:name) %>
</p>
<br/>
<p>
  <b><%= t "internships.attributes.recommend" %> :</b>
  <%= @internship.recommend %>
</p>

<% if @internship.attachments.present? %>
  <b><%= t "internships.attributes.pictures" %> :</b>
  <% @internship.attachments.each do |attachment| %>
    <p> <%= attachment.description %> </p> 
    <%= image_tag attachment.file_url(:thumb) %>
  <% end %>
  <br/>
<% end %>

  <b><%= t "internships.attributes.comments" %> :</b>
  <br/>
  <br/>

<% @internship.user_comments.each do |i| %>  
  <div class="comment"> 
  <%= i.user.name %> 
  <%= t "helpers.at" %>
  <%= i.created_at %>
  :
  <br/>
  <br/>
  <%= i.body %>
  <br/></div>
  <% if current_user.id == i.user_id %>
    <%= link_to (t "buttons.destroy"), i, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right"  %>
  <% end %>
  <br/>
  <br/>
  
  <% if i.answer.present? %>
  <div class="answer">
    <%= t "answers.from" %>
    <%= i.answer.user.name %> 
    <%= t "helpers.at" %>
    <%= i.answer.created_at %>
    :
    <br/>
    <br/>
    <%= i.answer.body %>

    
    <% if current_user.id == @internship.user_id %>
      <br/>
      <%= link_to (t "buttons.destroy"), i.answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right"  %>
    <% end %>
  </div>

      <br/>
      <br/>

  <% else %>

    <% if current_user.id == @internship.user_id %>

      <%= form_for(@answer) do |f| %>
        <div class="field">
          <%= f.hidden_field :internship_id, value: @internship.id %>
          <%= f.hidden_field :user_comment_id, value: i.id %>
          <%= f.label t "answers.attributes.body" %><br />
          <%= f.text_field :body %>
          <div class="actions">
          <%= f.submit (t 'buttons.save'), class: "btn btn-success" %>
        </div>
        </div>
      <% end %>

    <% end %>

  <% end %>

<% end %>

<%= form_for(@comment) do |f| %>
<div class="field">
    <%= f.hidden_field :internship_id, value: @internship.id %>
    <%= f.label t "comments.attributes.body" %><br />
    <%= f.text_field :body %>
    <div class="actions">
    <%= f.submit (t 'buttons.save'), class: "btn btn-success" %>
  </div>
  </div>
<% end %>




<%= link_to (t "buttons.edit"), edit_internship_path(@internship) %> |
<%= link_to (t "buttons.back"), internships_path %>
