<h1><%= t "faq.title" %></h1></br>
<h4><b><%= t "faq.title2" %></b></h4></br>
<p><%= t "faq.frage1.html" %></p></br>
<p><%= t "faq.frage2.html" %></p></br>
<p><%= t "faq.frage3.html" %></p></br>
<p><%= t "faq.frage4.html" %></p></br><br>
<h4><%= t "faq.title3" %></h4></br>
<p><%= t "faq.frageI1.html" %></p></br>
<p><%= t "faq.frageI2.html" %></p></br>