<!DOCTYPE html>
<html>
<head>
  <title>ImiMaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%# javascript_include_tag :defaults,"jquery_nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <div class="nav pull-right">
    	Language:
    	<%= link_to_unless_current "English", locale: "en" %>
    	<%= link_to_unless_current "Deutsch", locale: "de" %>
    </div>
    <div class="nav pull-left">
      <%= link_to_unless_current (t "search.title"), "/search"  %>
    </div>
    <div class="nav pull-left">
      <%= link_to_unless_current (t "users.name"), users_path  %>
    </div>
    <div class="nav pull-left">
      <%= link_to_unless_current (t "companies.name"), companies_path   %>
    </div>
    <div class="nav pull-left">
      <%= link_to_unless_current (t "internships.name"), internships_path  %>
    </div>
  </header>
  <br/>
  <br/>
<%= yield %>
</div>
</body>
</html>
