<!DOCTYPE html>
<html>
  <head>
    <title><%= t "header.tabtitle" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :content => 'Imi Map' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="top-bar"></div>
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="top-menu">
            <%= link_to "",overview_index_path, class: "brand" %>
            <!-- Be sure to leave the brand out there if you want it shown -->

            <ul class="nav pull-right">
              <li><%= link_to(favorite_index_path, :alt => "Favorite") do %>
                  <i class="icon-heart icon-large"></i>
                <% end %>
              </li>

              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <% if get_notification_size > 0 %>

                    <span class="badge badge-important"><%= get_notification_size %></span>
                  <%end%>
                  <i class="icon-flag icon-large"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <% if current_user && current_user.notifications.any? %>
                    <% get_notifications.each do |noti| %>
                      <li>
                        <%= link_to t(noti.text), {:controller => "notifications", :action => :destroy, :id => noti.id}, :method => :delete, :class => "bold" %>
                      </li>
                    <%end%>
                  <% else %>
                    <li>
                      <%= t("noti.void") %>
                    </li>
                  <% end %>
                </ul>


                <li>
                  <%= link_to current_user  do %>
                    <i class="icon-user icon-large"></i>
                  <% end %>
                </li>

                <li class="dropdown">
                  <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-large"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li><%= link_to_unless_current "English", locale: "en" %></li>
                    <li><%= link_to_unless_current "Deutsch", locale: "de" %></li>
                    <li><%= link_to_unless_current "Indonesia", locale: "id" %></li>
                  </ul>
                </li>   

                <li><%= link_to logout_path  do %>
                    <i class="icon-signout icon-large"></i>
                  <% end %>
                </li>

              </ul>
              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse ">

                <ul class="nav nav-top ">
                  <li class="<%= 'active_nav' if current_page?(overview_index_path) %>"><%= link_to t("header.overview"), overview_index_path %></li>
                  <li class="<%= 'active_nav' if current_page?(internships_path) %>"><%= link_to t("header.search"), internships_path %></li>
                  <li class="dropdown <%= 'active_nav' if current_page?(general_index_path) || current_page?(download_index_path) || current_page?(faq_index_path) || current_page?(faq_index_path) %>">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><%= t("header.guide") %></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("header.general"), general_index_path, :class=>"menu_nb" %></li>
                      <li><%= link_to t("header.faq"), faq_index_path, :class=>"menu_nb" %></li>
                      <li><%= link_to t("header.downloads"), download_index_path, :class=>"menu_nb" %></li>
                      <li><%= link_to t("header.financing"), financing_index_path, :class=>"menu_nb" %></li>
                    </ul>
                  </li>
                  <li class="<%= 'active_nav' if current_page?(internship_offer_index_path) %>"><%= link_to t("header.exchange"), internship_offer_index_path %></li>

                </ul>
              </div>
            </div>
          </div>
          <!-- .nav, .navbar-search, .navbar-form, etc -->
        </div>

      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="container clear-top">
      <%= yield %>
    </div>
  </div>
</div>
<footer>
<div class="container">
  <div class="im-items">
    <div class="footer-text">Dies ist ein Projekt im Rahmen der Hochschule für Technik und Wirtschaft.</div>
    <div class="htw_logo"></div>
    <div class="imi_logo"></div>
  </div>
</div>
</footer>
</body>
</html>
