<!DOCTYPE html>
<html>
<head>
  <title>IMI Map | Hochschule für Wirtschaft und Technik</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%# javascript_include_tag :defaults,"jquery_nested_form" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="display_none">
    <div style="width:100%; height: 80px; background-color:#292929; position: inherit; top: 0px; z-index: 3;">

      <div style="position:inherit;">
        <img src="assets/plane.gif" id="logo_p">
        <img src="assets/logos.png" id="logo_w">
      </div>

      <div class="row" style="float:right; margin-top:11px;">
        <%= form_tag sessions_path do %>
        <div class="span5 login_center">
          <p id="font_session">E-mail: 
            <%= text_field_tag :email, params[:email] %></p>
          </div>

          <div class="span6 login_center">
            <p id="font_session">Password:
              <%= password_field_tag :password %>   
            </div>

            <div class="span1 login_center">                       
              <%= image_submit_tag("signin.png", :class => 'signin-icon') %></p>
            </div>
            <% end %>
          </div>
</div>
            <div class="lost-pswd">
            <div id="box-pswd">
passwort?
          </div>
            </div>

        </div>

        <div class="tri-line"></div>
        <div>
          <%= gmaps(:map_options => { :container_class => "map-frontc", :id => "map2", :class => "baz", :draggable => true, :auto_zoom => true, :zoom => 3, :auto_adjust => false, :center_latitude => "0", :center_longitude => "-18" } , :markers => { "data" => @pins},) %>
          <%= yield :scripts %>

        </div>
        <div class="tri-line2"></div>
        <div style="width:100%; height: 22px; background-color:#292929; position: fixed; bottom: 0px; z-index: 23;">

          <div class="sign_up">

            <div id="change_color">
              <center>No Account?
                <%= link_to new_user_verification_path do %>Sign up here 
                <i class="icon-edit" style="color:#87bb3e"></i> 
                <% end %></center>
              </div>
            </div>      


          </div>
        </div>
      </body>
      </html>
