<!DOCTYPE html>
<html>
<head>
  <title>IMI Map | Hochschule für Wirtschaft und Technik</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%# javascript_include_tag :defaults,"jquery_nested_form" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
          <div>
            <%= gmaps(:map_options => { :container_class => "map-frontc", :id => "map2", :class => "baz", :draggable => true, :auto_zoom => false, :zoom => 3, :auto_adjust => false, :center_latitude => "10", :center_longitude => "10" } , :markers => { "data" => @pins},) %>
            <%= yield :scripts %>



          <div class="login"><%= yield %>

          </div>

    <div id="gradient"></div>
          </div>
</body>
</html>
